/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* PROJECT FRONT END */
body{
    margin: 0%;
    background: url(background.jpg);
    background-size: cover;
    /* height: 100%;
    bottom: 100%; */
    background-repeat: no-repeat;
}

.logo {
    font-size: 40px;
    padding: 0px;
    color: white;
    transition: 2s;
}

.logo:hover {
    color: black;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0%;
    font-size: 60px;
    width: 300px;
    position: relative;
    left: -500px;
    
    animation-name: geserKanan;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes geserKanan {
    
    from{ transform: translateX(0)}
    to{transform: translateX(500px)}
}

.burung1 {
    width: 25px;
    height: 25px;
    position: absolute;
    top : 20px;
    left: -50px;

    animation-name: burungTerbang, naikTurun1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.burung2 {
    width: 25px;
    height: 25px;
    position: absolute;
    top : 40px;
    left: -50px;

    animation-name: burungTerbang, naikTurun2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}

.burung3 {
    width: 25px;
    height: 25px;
    position: absolute;
    top : 60px;
    left: -50px;

    animation-name: burungTerbang, naikTurun3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}


@keyframes burungTerbang {
    from {transform: translateX(-50px)}
    to {transform: translateX(1500px)}
}

@keyframes naikTurun1 {
    0% {top: 20px}
    50% {top: 0px }
    100%{top: 50px}
}

@keyframes naikTurun2 {
    0% {top: 40px}
    50% {top: 20px }
    100%{top: 40px}
}

@keyframes naikTurun3 {
    0% {top: 60px}
    50% {top: 80px }
    100%{top: 50px}
}

ul {
    background-color: rgb(51, 53, 53);
    overflow: hidden;
    margin: 0;
}

li {
    /* float: right; */
    display: inline;
    list-style: none;
    margin: 0;
}

.floatKanan {
    float: right;
    position: relative; 
    margin-left: 10px; 
}

.textNavBar {
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
    transition: 1s;
}

.textNavBar:hover {
    background-color: silver;
}

.kategori {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 5px;
    bottom: 36px;
    width: 200px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 37px;
    left: 0px;
    background-color: #f9f9f9;
    min-width: 178px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownbackground {
    text-decoration: none;
    color: rgb(105,105,105);
}

.dropdownbackground:hover{
    color: black;
    
}
